*.ipch
*.orig
*.sdf
*.suo
*.VC.db
*.VC.opendb

Debug(gtest)/*
Release(gtest)/*
x64/Debug(gtest)/*
x64/Release(gtest)/*

Debug(cutest)/*
Release(cutest)/*
x64/Debug(cutest)/*
x64/Release(cutest)/*

!*/cutest.dll
!*/cutest.lib
!*/MfcTestRunnerApp.exe

source/atl/functions/*/Debug*
source/atl/functions/*/Release*
source/atl/functions/*/x64/Debug*
source/atl/functions/*/x64/Release*

source/gdiplus/*/Debug*
source/gdiplus/*/Release*
source/gdiplus/*/x64/Debug*

source/gtest_static/*/Debug*
source/gtest_static/*/Release*
source/gtest_static/*/x64/Debug*
source/gtest_static/*/x64/Release*

source/network/sockets/*/Debug*
source/network/sockets/*/Release*
source/network/sockets/*/x64/Debug*
source/network/sockets/*/x64/Release*

source/runner/console/*/Debug*
source/runner/console/*/Release*
source/runner/console/*/x64/Debug*
source/runner/console/*/x64/Release*
