*.ipch
*.sdf
*.VC.db
*.VC.opendb

Debug/*
Release/*
x64/Debug/*
x64/Release/*

!Debug/cutest.dll
!Debug/cutest.lib
!Debug/MfcTestRunnerApp.exe

!Release/cutest.dll
!Release/cutest.lib
!Release/MfcTestRunnerApp.exe

!x64/Debug/cutest.dll
!x64/Debug/cutest.lib
!x64/Debug/MfcTestRunnerApp.exe

!x64/Release/cutest.dll
!x64/Release/cutest.lib
!x64/Release/MfcTestRunnerApp.exe

source/atl/functions/*/Debug/*
source/atl/functions/*/Release/*
source/atl/functions/*/x64/Debug/*
source/atl/functions/*/x64/Release/*

source/gtest_static/*/Debug/*
source/gtest_static/*/Release/*
source/gtest_static/*/x64/Debug/*
source/gtest_static/*/x64/Release/*
